* {
  box-sizing: border-box;
  margin: 0;
  paddingL 0;
}

body {
  font-family: Roboto, Geneva, Tahoma, sans-serif;
  background-color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DDE9D0;
    color: #758B72;
    padding: 15px;
    
}

.header-title {
  font-size: 20px;
  font-weight: bold;
}

ul {
    display: flex;
    list-style: none;
    gap: 10px;
}


.hero-title {
  font-size: 30px;
  font-weight: 900;
}

.content1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DDE9D0;
  padding: 40px 100px;
}

.content1-left {
  min-width: 200px;
  max-width: 800px;
}

.hero-title, .hero-image, .hero-text, hero-button {
  margin: 10px;
  color: #46513d;
}

.hero-button {
  border-radius: 8px;
  padding: 10px;
  margin-left: 8px;
  font-size: 15px;
  font-weight: bold;
  background-color: #758B72;
  color: white;
  border: #758B72;
}

.hero-image {
  max-width: 400px;
  border-style: double;
  border-width: 10px;
  border-color: #758B72;
}

.content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color:#FFFAF1;
}

.infoblockblock {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.infoblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.title {
  font-size: 25px;
  font-weight: bold;
  margin: 30px;
  color: #242526;
}

.elephant-img {
  float: left;
  width:  200px;
  height: 200px;
  object-fit: cover;
  border-style: double;
  border-width: 10px;
  border-color: #758B72;
}

.content3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 100px;
  background-color:#758B72;
}

.quote-text, .quote-author
  {
    color: white;
  }

.quote-text {
  font-size: 26px;
}

.quote-author {
  align-self: flex-end;
  font-size: 20px;
  font-weight: bolder;
}

.content4 {
  background-image: url("cork_bg.png");
  padding: 10px 50px;
}

.content4-1 {
  display: flex;
  justify-content: space-between;
  background-color: #DDE9D0;
  padding: 40px 100px;
  margin: 50px;
}

.action-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 450px;
}

.action-title, .action-text {
  color: #46513d;
}

.action-title {
    font-size: 20px;
    font-weight: 900;
}

.action-button {
    flex-grow: 0;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    color: #46513d;
    background-color: #DDE9D0;
    border-color: #46513d;
    border-width: 2.5px;
    margin: 10px;
    padding: 0px 20px;
}


.footer {
  color: white;
  background-color: #242526;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}